@use "../setup/fonts";
@use "../setup/mixins";

.btn {
  @include fonts.font(700);
  @include mixins.t();
  height: 36px;
  line-height: 36px;
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
  border-radius: 18px;
  @include mixins.flex(10px, flex-start, center);
  display: inline-flex;
  padding: 0 20px;
  font-size: 1.4rem;
  text-decoration: none;
  // margin-top: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-blue);
    color: var(--color-text-light);

    svg {
      color: inherit;
    }
  }

  svg {
    font-size: 2rem;
    color: inherit;
  }

  &.filled {
    background-color: var(--color-blue);
    color: var(--color-text-light);

    &.black {
      background-color: var(--color-bg);
      color: var(--color-text-light);
      border-color: var(--color-bg);
    }
  }

  &.black {
    border-color: var(--colog-bg);
    color: var(--color-bg);

    &:hover {
      border-color: var(--color-bg) !important;
      background-color: var(--color-bg);
      color: var(--color-text-light);
    }
  }
}

.btn-wrap {
  @include mixins.flex(10px);
}
