.section-wrap {
  display: block;
  min-height: 100vh;
  z-index: 10;
  position: relative;
  padding: 6em 0;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 32px;

  &.container-small {
    max-width: 920px;
  }
}
