.section-wrap {
  display: block;
  min-height: 100vh;
  z-index: 10;
  position: relative;
  padding: 128px 0;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 32px;
  position: relative;

  &.small {
    max-width: 756px;
  }
}
