@use "../setup/fonts";
@use "../setup/mixins";

#navigation {
  position: fixed;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(564px, 50%, 792px);
  border: 1px solid var(--color-border-light);
  border-radius: 24px;
  background-color: rgba(var(--color-bg-rgb), 0.8);
  backdrop-filter: blur(15px);
  z-index: 100;
  // overflow: hidden;

  // One-time animation when page loads
  @keyframes popup {
    from {
      bottom: -100%;
    }
    to {
      bottom: 1.5em;
    }
  }

  animation: 1s cubic-bezier(0.85, 0, 0.15, 1) 0s 1 popup;

  nav {
    ul {
      // @include grid(0, 4);
      display: grid;
      gap: 0;
      width: 100%;
      position: relative;
      z-index: 5;

      .bg {
        @include mixins.t(0.5s);
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        // width: 25%;
        border-radius: 24px;
        background-color: rgba(var(--color-blue-rgb), 0.25);
        z-index: -1;
      }

      li {
        z-index: 5;
        width: 100%;

        a {
          @include mixins.t();
          @include fonts.font(700);
          @include mixins.flex(10px, center, center);
          text-transform: uppercase;
          width: 100%;
          height: 48px;
          border-radius: 24px;
          flex: 1;
          font-size: 1.2rem;
          color: var(--color-text);
          text-decoration: none;

          svg {
            pointer-events: none;
            font-size: 2rem;
            color: var(--color-text);
          }

          &:hover,
          &.active {
            color: var(--color-text-light);

            svg {
              color: var(--color-text-light);
            }
          }
        }
      }
    }
  }

  .btn-up {
    @include mixins.t();
    @include mixins.flex(0, center);
    position: absolute;
    left: calc(100% + 16px);
    height: 48px;
    width: 48px;
    top: 0;
    border-radius: 50%;
    border: 1px solid var(--color-border-light);
    background-color: rgba(var(--color-bg-rgb), 0.75);
    backdrop-filter: blur(15px);

    &:hover {
      background-color: rgba(var(--color-blue-rgb), 0.25);

      svg {
        color: var(--color-text-light);
      }
    }

    svg {
      color: var(--color-text);
      font-size: 2rem;
    }
  }
}
