.parallax-wrap {
  position: fixed;
  inset: -10%;
  top: 0;
  pointer-events: none;
  // bottom: unset;
  z-index: 5;
  overflow: hidden;

  .vignette {
    position: absolute;
    z-index: 200;
    inset: 0;

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background: radial-gradient(transparent 60%, var(--color-bg));
      opacity: 0.5;
    }
  }

  .night-overlay {
    position: absolute;
    z-index: 100;
    inset: 0;
    opacity: 0;

    background-color: rgba(var(--color-bg-rgb), 0.8);
    backdrop-filter: hue-rotate(210deg) contrast(1.2);
  }

  .parallax-item {
    position: relative;
    will-change: transform;

    @keyframes cloudsRight {
      0%,
      100% {
        transform: translate3d(-5%, 0, 0);
      }

      50% {
        transform: translate3d(5%, 0, 0);
      }
    }

    @keyframes cloudsLeft {
      0%,
      100% {
        transform: translate3d(5%, 0, 0);
      }

      50% {
        transform: translate3d(-5%, 0, 0);
      }
    }

    &:nth-child(3) {
      animation: cloudsRight 150s infinite linear;
      top: -60px;
    }

    &:nth-child(5) {
      animation: cloudsLeft 100s infinite linear;
    }

    img {
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      border: none;
    }
  }
}
