.parallax-wrap {
  position: fixed;
  inset: -10%;
  top: 0;
  pointer-events: none;
  // bottom: unset;
  z-index: 5;
  overflow: hidden;

  .vignette {
    position: absolute;
    z-index: 200;
    inset: 0;

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background: radial-gradient(transparent, var(--color-bg));
      opacity: 0.5;
    }
  }

  .night-overlay {
    position: absolute;
    z-index: 100;
    inset: 0;
    opacity: 0;

    background-color: rgba(var(--color-bg-rgb), 0.75);
    backdrop-filter: hue-rotate(210deg) contrast(1.2);
    // filter: ();
  }

  .parallax-item {
    position: relative;

    img {
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      border: none;
    }
  }
}
