.parallax-wrap {
  position: fixed;
  inset: -10%;
  top: 0;
  pointer-events: none;
  z-index: 5;
  overflow: hidden;
  transform: scaleX(-1);

  .night-overlay {
    position: absolute;
    z-index: 100;
    inset: 0;
    opacity: 0;

    background-color: rgba(var(--color-bg-rgb), 0.8);
    backdrop-filter: hue-rotate(210deg) contrast(1.2);
  }

  .parallax-item {
    position: relative;
    will-change: transform;

    @keyframes cloudsRight {
      0%,
      100% {
        transform: translate3d(-5%, 0, 0);
      }

      50% {
        transform: translate3d(5%, 0, 0);
      }
    }

    @keyframes cloudsLeft {
      0%,
      100% {
        transform: translate3d(5%, 0, 0);
      }

      50% {
        transform: translate3d(-5%, 0, 0);
      }
    }

    &:nth-of-type(2) {
      animation: cloudsRight 150s infinite linear;
      top: -60px;
    }

    &:nth-of-type(3) {
      top: -90px;
    }

    &:nth-of-type(4) {
      animation: cloudsLeft 100s infinite linear;
    }

    &:nth-of-type(7) {
      top: 165px;
    }

    &:nth-of-type(8) {
      top: 200px;
    }

    &:nth-of-type(9) {
      top: 175px;
    }

    &:nth-of-type(10) {
      top: 210px;
    }

    &:nth-of-type(11) {
      top: 250px;
    }

    &:nth-of-type(12) {
      top: 300px;
    }

    &:nth-of-type(13) {
      top: 320px;
    }

    &:nth-of-type(14) {
      top: 340px;
    }

    &:nth-of-type(15) {
      top: 360px;
    }

    img {
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      border: none;
    }
  }
}
