// Main app styles
@use "layout";
@use "scene";
@use "navigation";
@use "animations";
@use "loading";
@use "sections";
@use "parallax";
@use "button";
@use "../setup/fonts";

h1 {
  @include fonts.font(700);
  font-size: 10rem;
  text-transform: uppercase;
  padding-top: 80px;
  padding-left: 20px;
}
