//
// Helpers
//

@function is-number($value) {
  @return type-of($value) == "number";
}

@mixin noselect() {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@mixin noscrollbar() {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

//
// Mixins
//

// Adds transition to the element,
@mixin t($time: 0.1s, $type: cubic-bezier(0.76, 0, 0.24, 1)) {
  -webkit-transition: all $time $type;
  -moz-transition: all $time $type;
  -o-transition: all $time $type;
  transition: all $time $type;
}

@mixin flex($g: 15px, $j: flex-start, $a: center, $d: row, $w: nowrap) {
  display: flex;
  flex-wrap: $w;
  gap: $g;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}

@mixin grid($gap: 15px, $columns: 3) {
  display: -ms-grid;
  display: grid;
  gap: $gap;

  @if is-number($columns) {
    grid-template-columns: repeat($columns, 1fr);
  } @else {
    grid-template-columns: $columns;
  }
}
