:root {
  /* Color properties */
  --color-bg: #0c1016;
  --color-bg-light: #10151f;
  --color-bg-rgb: 12, 16, 22;

  --color-border: #272727;
  --color-border-light: #6b6b6b;

  --color-text: #bdbdbd;
  --color-text-light: #ffffff;

  --color-blue: #6c7ae9;
  --color-blue-rgb: 108, 122, 233;
}
