:root {
  /* Color properties */
  --color-bg: #0c1016;
  --color-bg-rgb: 8, 3, 1;

  --color-border: #272727;
  --color-border-light: #6b6b6b;

  --color-text: #b1b1b1;
  --color-text-light: #ffffff;

  --color-blue: #6c7ae9;
  --color-blue-rgb: 108, 122, 233;
}
