#scene-developers {
  padding-bottom: 212px;

  .container {
    .img-wrap {
      position: absolute;
      top: 50%;
      right: 15%;
      z-index: -1;

      img {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        width: 756px;
      }
    }

    .scene-arrow {
      @include flex(10px, flex-start, flex-start);
      left: unset;
      position: absolute;
      right: 10%;
      top: 11%;
      bottom: unset;
      text-align: left;

      img {
        transform: scaleY(1) translateY(10px);
      }

      b {
        @include font(700);
      }
    }

    .content {
      width: 60%;
    }

    .scene-content {
      width: 90%;
    }

    .brand-grid {
      margin-top: 40px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    ul {
      // @include flex(20px, $w: wrap);

      li {
        font-size: 1.2rem;
      }
    }
  }
}
