#scene-landing {
  @include flex(0, flex-start, $d: column);
  padding-top: 10%;

  img {
    // position: absolute;
    // right: 50%;
    display: block;
    width: 680px;
    margin: 0 auto;
    transform: translateY(-20%);
    // top: -10%;
  }

  .scene-content {
    text-align: center;
    margin-bottom: 0;

    strong,
    h2,
    p {
      color: var(--color-bg);
    }

    h2 {
      font-size: 16rem;
      letter-spacing: 0.05em;
    }
  }
}
