#scene-news {
  background-color: var(--color-bg-light);
  min-height: unset;
  padding: 80px 0;
  overflow: unset;

  h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 7rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--color-text-light);
  }

  d-topics-list {
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    display: block;
    filter: invert(1) hue-rotate(180deg) saturate(1.1); 

    iframe {
      width: 100%;
      height: 350px;
    }
  }
}
