#scene-picker {
  background-color: var(--color-bg);
  min-height: unset;
  padding: 80px 0;
  overflow: unset;

  h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 7rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--color-text-light);
  }

  p {
    font-size: 1.6rem;
    line-height: 1.6em;
    color: var(--color-text-light);
  }

  #image-picker {
    width: 100%;
    margin-top: 50px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 50px;
  }
}
