#scene-users {
  min-height: 90vh;
  z-index: 49;

  .container {
    @include grid(40px, 1fr 1.25fr);
    align-items: center;

    .scene-content {
      position: relative;

      h2,
      p {
        text-shadow: 1px 1px 2px rgba(var(--color-bg-rgb), 0.5);
      }

      h2 {
        color: var(--color-text-light);
      }

      p {
        color: var(--color-text-light);
      }
    }

    .img-wrap {
      img {
        transform: translateX(10%) scale(1.2);
      }
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      pointer-events: none;
      width: 1200px;
      height: 8000px;
      background: radial-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 50%);
    }

    ul {
      li {
        display: block;
        font-size: 1.6rem;
        position: relative;
        padding-left: 24px;
        margin-bottom: 20px;
        color: var(--color-text-light);
        text-shadow: 1px 1px 2px rgba(var(--color-bg-rgb), 0.5);

        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 6px;
          width: 6px;
          height: 6px;
          background-color: var(--color-text-light);
          box-shadow: 1px 1px 2px rgba(var(--color-bg-rgb), 0.25);
        }
      }
    }

    .brand-grid {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 40px;

      .brand-item {
        @include flex(0, center, center);
        border: none;
        border-right: 1px solid var(--color-text);
        text-align: center;
        padding: 20px;
        text-shadow: 1px 1px 2px rgba(var(--color-bg-rgb), 0.5);

        &:last-child {
          border-right: 0;
        }
      }
    }
  }
}
