#scene-video {
  // border-top: 1px solid var(--color-border);
  // border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-light);
  min-height: unset;
  padding: 80px 0;
  overflow: unset;

  // &:before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   z-index: 1;
  //   top: -25%;
  //   right: 8%;
  //   // transform: translate(-50%, -50%);
  //   width: 1280px;
  //   height: 1280px;
  //   background: radial-gradient(
  //     circle,
  //     rgba(183, 108, 233, 0.1) 0%,
  //     rgba(108, 122, 233, 0) 70%
  //   );
  // }

  .content {
    display: block;
    // margin-bottom: 64px;

    p {
      display: block;
      font-size: 1.8rem;
      line-height: 1.6em;
      color: var(--color-text-light);
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        @include font(700);
        color: var(--color-blue-light) !important;

        &:hover {
          text-decoration: none;
        }
      }

      strong {
        @include font(700);
      }

      em {
        font-style: italic;
      }
    }
  }

  iframe {
    border-radius: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 64px;
  }
}
