@use "sass:meta";
@use "setup/fonts";
@use "setup";

html {
  @include fonts.font(400);
  font-size: 63.5%;
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
  overflow-x: hidden;

  * {
    box-sizing: border-box;
  }
}

@include meta.load-css("app/");

@include meta.load-css("overrides/");
